*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  margin: 8px;
}

.nav-bar {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px;
  background-color: honeydew;
}

.links a, .home a {
    margin: 0 30px;
    text-decoration: none;
    color: rgb(13, 89, 137);
}

.nav-bar button {
  padding: 5px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home * {
  margin: 10px;
}

.sign-up, .sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 50%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px black;

}

form {
  width: 100%;
}


.sign-up input, .sign-in input {
  display: block;
  margin: 15px auto;
  width: 70%;
  min-width: 170px;
  font-size: 15px;
  padding: 5px;
}

.sign-up button, .sign-up a, .sign-in button {
  margin: 8px;
  width: 70%;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
}

.sign-in .signInWithGoogleBtn {
  margin: 8px;
  width: 70%;
  font-size: 15px;
  padding: 5px;
}


@media screen and (max-width: 500px) {
 .sign-up, .sign-in {
  width: 60%;
 } 

}



