:root {
  --theblack: #17252a;
  --themainbackground: #3aafa9;
  --thebackgrnddeep: #2b7a7b;
  --thedarkwhite: #def2f1;
  --thewhite: #feffff;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  background-color: var(--themainbackground);
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  margin: 8px;
}

.nav-bar {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  color: #def2f1;
  border-bottom: 1px solid #2b7a78;
}

.nav-bar .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.profile * {
  margin: 0 10px ;
}

.nav-bar img {
  /* background-color: black; */
  border-radius: 50%;
}

.links a, .home a, a {
    margin-left: 25px;
    text-decoration: none;
    color: #def2f1;
}


.nav-bar button {
  padding: 5px;
  margin-left: 25px;
  background-color: #17252a ;
  color: #def2f1;
  border-radius: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home * {
  margin: 10px;
}

.home button {
  background-color: #17252a ;
  color: #def2f1;
  padding: 5px;
  border-radius: 8px;
}

.sign-up, .sign-in, .create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 50%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px black;
  background-color: #2b7a78;
  color: #feffff;

}

form {
  width: 100%;
}


.sign-up input, .sign-in input {
  display: block;
  margin: 15px auto;
  width: 70%;
  min-width: 170px;
  font-size: 15px;
  padding: 5px;
}

.sign-up button, .sign-up a, .sign-in button, .create-post button {
  margin: 8px;
  width: 70%;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
}

.sign-in .signInWithGoogleBtn {
  margin: 8px;
  width: 70%;
  font-size: 15px;
  padding: 5px;
}

.create-post textarea {
  display: block;
  width: 70%;
  height: 150px;
  margin: 5px auto;
  padding: 5px;
}


@media screen and (max-width: 500px) {
 .sign-up, .sign-in {
  width: 60%;
 } 

}



